In [2]:
# s = 'abc'+10
# print(s)
# This code will raise a TypeError because you cannot concatenate a string and an integer.
# To fix this, you can convert the integer to a string using str():
s = 'abc' + str(10)
print(s)
# Now it will print 'abc10' without any error.
# Alternatively, you can use formatted strings:
s = f'abc{10}'
print(s)
# This will also print 'abc10' without any error.

abc10
abc10

In [3]:
s1  = 'abc'
s2 = 'def'
# Concatenating two strings
s3 = s1 + s2
print(s3)  # Output: 'abcdef'

abcdef

In [4]:
#Multiplying a string
s4 = s1 * 3
print(s4)  # Output: 'abcabcabc'

abcabcabc

In [5]:
s5 = 'abc '
s6 = s5 * 5
print(s6)  # Output: 'abc abc abc abc abc '

abc abc abc abc abc

In [8]:
if s1 == 'abc':
    print("s1 is equal to 'abc'")
else:
    print("s1 is not equal to 'abc'")

s1 is equal to 'abc'

In [3]:
number = int(input("Enter a number: "))
if (number >= 0):
    print("Positive")
else:
    print("Negative")

Positive

In [ ]:
n = 10.2
if n%2.0 == 0:
    print("n is an even number")
else:
    print("n is an odd number")

n is an odd number

In [6]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are a minor.")
elif age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are a minor.

In [7]:
gender = input("Enter your gender (M/F): ").strip()
if (gender.upper() == 'M'):
    print("Male")
else:
    print("Female")

Male

In [8]:
#Leap year code
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2100 is not a leap year.

In [9]:
format(1000,'b')

'1111101000'

In [10]:
bin(1000)

'0b1111101000'

In [13]:
a = 4142
a.bit_length()  # Returns the number of bits required to represent the number in binary

13